.header {
  position: sticky;
  top: 0px;
  overflow-y: hidden;
  padding: 0 2vw;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dedede;
  opacity: 0.9;
  z-index: 9999;

  >.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 1080px;
    font-size: 16px;

    >.brand {
      display: flex;
      align-items: center;
    }

    >.i18n-menu {
      display: flex;
      flex-direction: row;

      >span {
        display: flex;
        align-items: center;
      }

      >.selection {
        width: 100px
      }
    }
  }
}

/* Menu */
.menu-container {
  padding: 0vh 2vw;
  width: 100%;
  max-width: 600px;

}

.selection {
  width: 100%;
}