.MuiModal-root {
  /* Parent container of the div */
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;

  >.modal-container {
    background-color: #efefef;
    border-radius: 9px;
    padding: 4vh 2vw;
    min-width: fit-content;
    max-width: 90vw;
    min-width: 300px;
    >.title {
      font-size: 24px;
    }

    >.button-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }
}