.dy-stream-watcher-page-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #efefef;
  color: #333333;

  >.content-container {
    min-width: 600px;

    >.row {
      >.title {
        font-size: 24px;
      }

      >div {
        >.instruction-label {
          font-size: 16px;
        }
      }
    }
  }
}

.dy-response-container {
  display: flex;
  flex-direction: row;

  >.avatar {
    display: flex;
    align-items: center;
    height: fit-content;
  }

  >.stat {
    display: flex;
    flex-direction: column;
    padding-left: 2vw;
  }
}

.subtitle {
  font-size: 20px;
  color: #333333;
}

.response-title {
  font-size: 24px;
  color: #333333;
}


.label {
  display: flex;
}

.response {
  display: flex;
  flex-direction: row;
}

.left {
  display: flex;
  flex-direction: row;
  min-width: 160px;
}

.right {
  display: flex;
  flex-direction: row;
}

.title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.user-options {
  display: flex;
  flex-direction: row;
}

.response-container-min-height {
  min-height: 250px;
}