.dialog-container {
  display: flex;
  flex-direction: column;
  max-width: 1080px;
  background-color: #ffffff;
  padding: 0 2vw;
  padding-top: 2vh;
  border-radius: 6px;
  justify-content: center;

  >.title-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    >.title {
      color: #333333;
      display: flex;
      font-size: 24px;
    }

    >.secondary-action {
      display: flex;
    }
  }

  >.response-container {
    min-height: 60vh;
    height: 60vh;
    border: 1px solid;
    border-color: #333333;
    border-radius: 5px;
    overflow: auto;
    padding: 1vh 2vw;
    display: flex;
    flex-direction: column;

    >.notice {
      display: flex;
      justify-content: center;

      >.text {
        color: #333333;
      }
    }

    >.message-container-anchor {
      padding-top: 1vh;
      padding-bottom: 1vh;
      display: flex;
      width: 100%;

      &.rr {
        flex-direction: row-reverse;

        >.message-container {
          border: 1px solid;
          border-color: #333333;
        }
      }

      >.message-container {
        display: flex;
        width: fit-content;
        max-width: 600px;
        padding: 1vh 1vw;

        border-radius: 5px;
        text-align: left;

        >.message {
          color: #333333;
        }
      }

      >.sender {
        flex-direction: row-reverse;
      }
    }
  }

  >.request-container {
    display: flex;

    >.form {
      display: flex;
      width: 100%;
      padding-right: 1vw;
    }

    >.action {
      display: flex;
    }
  }
}


@media (max-width: 586px) {

  .dialog-container {
    >.response-container {
      min-height: 50vh;
      height: 60vh;
    }

    >.request-container {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;

      >.form {
        display: flex;
        width: 100%;
      }

      >.action {
        display: flex;
        justify-content: center;
        margin-top: 2vh;
      }
    }
  }
}

.sample-image {
  max-height: 100px;
  max-width: 100%;
}