.home-page-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #efefef;
  color: #333333;

  >.menu {
    display: flex;
    flex-direction: column;
    width: 45vw;
    max-width: 45vw;
    padding: 0 2vw;
    padding-top: 2vh;
    border-radius: 6px;
    justify-content: center;

    >.title-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      >.info-box {
        >.title {
          color: #333333;
          font-size: 24px;
        }

        >.description {
          color: #333333;
          font-size: 16px;
        }
      }
    }

    >.coming-soon-container {
      display: flex;
      justify-content: center;

      >.coming-soon {
        display: flex;
        color: #333333;
        font-size: 12px;
      }
    }
  }
}

@media(max-width: 586px) {
  .home-page-container {
    >.menu {
      width: 80vw;
      max-width: 80vw;
    }
  }
}

.row {
  width: 100%;
}