.content {
  display: flex;
  flex-direction: column;
  padding: 0 2vw;
}

.section {
  &.h1 {
    font-size: 32px;
  }

  &.h2 {
    font-size: 18px;
  }

  &.content {
    font-size: 16px;
  }

  &.condition {
    font-size: 14px;
  }

  &.version {
    font-size: 12px;
    padding-left: 1vw;
  }
}