  .login-modal {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    width: 25vw;
    max-width: 25vw;
    border-radius: 6px;
    justify-content: center;

    >.title-container {
      text-align: left;
      >.title-text {
        color: #333333;
        font-size: 24px;
        width: fit-content;
      }
    }

    >.login-button-container {
      display: flex;
      justify-content: center;
    }

    >.register-container {
      display: flex;
      justify-content: center;
    }
  }

  @media (max-width: 586px) {
    .login-page-container {
      >.login-modal {
        min-width: 200px;
        max-width: 80vw;
      }
    }
  }