.stream-watcher-page-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #efefef;
  color: #333333;

  >.content-container {
    min-width: 50vw;
    max-width: 80vw;

    >.response-container {
      display: flex;
      flex-direction: column;


      >.identity-container {
        display: flex;
        flex-direction: row;

        >.avatar {
          padding-right: 2vw;
        }

        >.details {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;

          >.top {
            display: flex;
            flex-direction: row;

            >.left {
              padding-right: 2vw;
            }
          }
        }
      }

      >.stream-container {
        display: flex;
        flex-direction: column;
        width: 100%;
      }
    }

    >.row {
      >.title {
        font-size: 24px;
      }

      >div {
        >.instruction-label {
          font-size: 16px;
        }
      }
    }
  }
}

.subtitle {
  font-size: 20px;
  color: #333333;
}

.response-container {
  display: flex;
  flex-direction: row;
  align-items: center;



}

.title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.user-options {
  display: flex;
  flex-direction: row;
}