.stream-watcher-page-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #efefef;
  color: #333333;

  >.content-container {
    min-width: 600px;

    >.tt-response-container {
      display: flex;
      flex-direction: column;

    }

    >.row {
      >.title {
        font-size: 24px;
      }
    }
  }
}

.stat {
  display: flex;
  flex-direction: column;
  padding-left: 2vw;
}

.subtitle {
  font-size: 20px;
  color: #333333;
}

.response-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.user-options {
  display: flex;
  flex-direction: row;
}

.follow-info {
  display: flex;
  flex-direction: row;

  >.following {
    display: flex;
    flex-direction: row;
    min-width: 160px;
  }

  >.follower {
    display: flex;
    flex-direction: row;
  }
}

.response-container-min-height {
  min-height: 250px;
}